* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif !important;
}

.header-nav > .navbar {
  background-color: #000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-nav .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.header-nav .navbar-nav > li {
  margin: 0 10px;
}

.header-nav .navbar-nav > li > a {
  color: #fff;
}

.taskList li + li {
  margin-top: 1rem;
}

.taskList li > .card .card-body {
  padding: 0.875rem 1.25rem;
}

.taskList li:nth-child(2n) > .card {
  background-color: #cccc;
}
/*# sourceMappingURL=app.css.map */