*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif !important;
}
.header-nav{
    & > .navbar{
        background-color: #000;
        justify-content: center;
    }
    .navbar-nav {
        flex-direction: row;               
       &>li{
           margin: 0 10px;
           &>a{
            color: #fff;
           }
       }
    }
}
.taskList{
    li{
        & + li{
            margin-top: 1rem;
        }
        & > .card{
            .card-body{
                padding: 0.875rem 1.25rem;
            }
        }
        &:nth-child(2n){
            & > .card{
                background-color: #cccc;
            }
        }
    }
   
}